*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.row{
    display: flex;
    justify-content: space-between;
}

.row_1{
    margin-bottom: 50px
}

.col{
    width: 30%;
    position: relative;
}

.col-25{
    width:25%;
}

.col-50{
    width:50%;
    display: flex;
    justify-content: center;
}



                                                /* header */

header{
    background-color: #FF6900;
    padding: 15px 0px;
    box-shadow: 0px 1px 5px 1px rgb(164, 164, 164);
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 60px;
    z-index: 10;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

ul{
    display: flex;
    list-style-type: none;

}

li{
    margin-right: 10px;
}

a{
    text-decoration: none;
    color:white;
}

.logo{
    width: 100px;
}

div.icons{
    display: flex;
    justify-content: flex-end;
}

.icon{
    width:25px;
    color: white;
    padding: 0 5px;
    filter: brightness(0) invert(1);
}

                                                /* main */

main {
margin-top: 100px;
}

.heart{
    display: inline-block;
    background-color: white;
    position: absolute;
    padding: 3px 8px;
    font-size: 25px;
    right:0;
    top:2%;
}

.infoProdotto{
    position: absolute;
    left:0;
    top: 450px;
}

.sostenibile, .sconto{
    display: inline-block;
    padding: 5px;
    color: white;
}

.sconto{
    background-color: red;
}

.sostenibile{
    background-color: #008000;
}

.marca{
    font-size: 14px;
}

.bigger_text{
    font-weight: bold;
}

.price{
    color:red;
    font-size: 14px;
}

.notSale{
    text-decoration: line-through;
    color: black;
}


.image{
    width: 100%;
    z-index: -1;
}


.image_b{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -2;
}

.col:hover .image_b{
    z-index: 0;
}

div.heart:hover{
    color:red;
}


                                                /* footer */

footer{
    background-color: #1A1A1A;
    padding: 20px 0;
    color:white;
}

.footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.azienda, .invitoSocial{
    font-weight: bold;
    font-size: 14px;
}

.informative{
    list-style-type: none;
    font-size: 12px;
    padding: 5px 0;
}

.iconeSocial{
    padding-top: 5px;
    display: flex;
    filter: brightness(0) invert(1);
}

.iconaSocialSingola{
    width:25px;
    padding-right:10px;
}

